<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MatchToWord</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="app">
      <div v-if="ready">
        <p v-for="user in info">
          {{user}}
        </p>
      </div>
      <div v-if="!ready" class="row">
        <div class="container">
          <div class="col-8">
            <h4>Enter your username</h4>
            <form @submit.prevent="addUser">
              <div class="form-group row">
                <input
                  type="text"
                  class="form-control col-9"
                  v-model="username"
                  placeholder="Enter username here"
                  required
                />
                <input
                  type="text"
                  class="form-control col-9"
                  v-model="roomJoin"
                  placeholder="Enter room here"
                  required
                />
                <input
                  type="submit"
                  value="Join"
                  class="btn btn-sm btn-info ml-1"
                />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div v-else class="container">
        <div class="row">
          <div class="col-sm-8">
            <!-- <div v-for="item in users"> -->
            <div
              class="card"
              v-bind:style="{backgroundColor: color}"
              v-if="ready"
            >
              <div class="card-header text-white">
                <h4>
                  Player Name: {{username}}
                  <span class="float-right">{{connections}} connections</span>
                </h4>
                <small v-if="checkTyping">{{typing.name}} is typing</small>
              </div>
              <div class="card-body">
                <form @submit.prevent="send">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      v-model="newMessage"
                      placeholder="Enter message here"
                    />
                  </div>
                </form>
              </div>
            </div>
            <!-- </div> -->

            <div v-for="message in messages" class="align-middle">
              <span
                class="float-left d-flex p-2 box-message"
                v-bind:style="{backgroundColor: message.color}"
              >
                <h4>
                  {{message.message}}
                </h4></span
              >
            </div>
          </div>
          <div class="col-sm-4">
            <h5 class="card-title">List Player</h5>
            <ul class="list-group">
              <li v-for="user in users" class="list-group-item">
                {{user.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Client side Socket.IO object
    var socket = io();

    // Creating a new Vue Instance
    let vue = new Vue({
      // Adding a root element to our vue app
      el: "#app",

      // Declaring our data object with empty arrays and properties
      data: {
        users: [],
        newMessage: null,
        color: null,
        messages: [],
        username: null,
        roomJoin: null,
        typing: [],
        checkTyping: false,
        ready: false,
        info: [],
        connections: 0,
        id: new Date().getTime(),
      },

      props: {},

      // Our vue created method
      created() {
        window.onbeforeunload = () => {
          socket.emit("leave", {
            id: this.id,
            room: this.users.find((room) => room.id == this.id).room,
          });
        };

        // Listening to chat-message event emitted from the server and pushing to messages array
        socket.on("chat-message", (data) => {
          this.messages.push({
            id: data.id,
            message: data.message,
            type: 1,
            name: data.name,
            color: data.color,
            room: data.room,
          });

          // console.log("change messages", val);
          splitText1 = data.message.split(" ");
          if (splitText1.length < 2) {
            console.log("sai dinh dang " + " - " + data.name);
            socket.emit("errors-message", {
              id: data.id,
              name: data.name,
              room: data.room,
            });
            return;
          }
          if (this.messages.length < 2) {
            return;
          }
          splitText0 = this.messages[this.messages.length - 2].message.split(
            " "
          );
          if (splitText1.length < 2 || splitText0.length < 2) {
            console.log("sai dinh dang " + " - " + data.name);
            socket.emit("errors-message", {
              id: data.id,
              name: data.name,
              room: data.room,
            });
            return;
          }
          if (splitText0[1].toLowerCase() !== splitText1[0].toLowerCase()) {
            console.log("False" + " - " + data.name);
            socket.emit("errors-message", {
              id: data.id,
              name: data.name,
              room: data.room,
            });
            return;
          }
          console.log("True");
        });

        // Listening to 'joined' event emitted from the server and pushing the data to info array
        socket.on("joined", (data) => {
          this.info = data;
          this.users = data;
          // Setting a time out for the info array to be emptied
          setTimeout(() => {
            this.info = [];
          }, 3000);
        });

        socket.on("typing", (data) => {
          this.typing = data;
          this.checkTyping = data.check;
        });

        // Listening to stopTyping event emitted from the server and setting the typing property to false
        socket.on("stopTyping", () => {
          this.typing = [];
          this.checkTyping = data.check;
        });

        // Listening to 'leave' event emitted from the server and pushing the data to info array
        socket.on("leave", (data) => {
          this.info.push({
            username: data,
            type: "left",
          });

          // Setting a time out for the info array to be emptied
          setTimeout(() => {
            this.info = [];
          }, 2000);
          this.users = data;
        });

        // Listening to 'connections' event emitted from the server to get the total number of connected clients
        socket.on("connections", (data) => {
          this.connections = data;
        });

        socket.on("errors-message", (data) => {
          console.log(data);
          console.log(this.id);
          var nameErrors = this.messages.find((data) => data.id == this.id)
            .name;
          console.log("nameErrors: ", nameErrors);
        });
      },
      watch: {
        newMessage(value) {
          // console.log(value);
          value
            ? socket.emit("typing", {
                name: this.username,
                message: this.newMessage,
                room: this.roomJoin,
                check: true,
              })
            : socket.emit("stopTyping", {
                name: this.username,
                message: this.newMessage,
                room: this.roomJoin,
                check: false,
              });
        },
      },

      //Vue Methods hook
      methods: {
        //The send method stores the user message and emit an event to the server.
        send() {
          socket.emit("chat-message", {
            id: this.id,
            message: this.newMessage,
            name: this.users.find((name) => name.id == this.id).name,
            color: this.users.find((color) => color.id == this.id).color,
            room: this.users.find((room) => room.id == this.id).room,
          });
          this.newMessage = null;
        },

        // The addUser method emit a 'joined' event with the username and set the 'ready' property to true.
        addUser() {
          this.ready = true;
          this.color = "#" + ((Math.random() * 0xffffff) << 0).toString(16);
          socket.emit("joined", {
            id: this.id,
            name: this.username,
            color: this.color,
            room: this.roomJoin,
          });
          // console.log("index.html: addUser");
        },
      },
    });
  </script>
  <style>
    .container {
      margin: 2%;
    }
    .box-message {
      border: 1px solid #ccc;
      padding: 2px;
      margin-top: 5%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  </style>
</html>
